*{
    margin: 0;
    padding: 0;
}



h1{
    text-align: center;
}
.crad{
    margin:0 auto;
    max-width: 264px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 teal ;
    transition: 0.6s;
    font-size: 0;

}
.crad:hover{
    box-shadow: 0 8px 26px 0 teal ;
}
.c1 #result{
   width: 250px;
   height: 70px; 
   background-color: lightseagreen;
   border-radius: 500px;
   font-size: 25px;
   font-weight: bold;
   text-align: right;
   padding: 0 5px;
   letter-spacing: 4px;
}
.c3 {
    width: 66px;
    height: 45px;
    font-weight: bold;
    font-size:20px ;
    background-color: tomato;
    color: black;
}
.btn{
    background-color: blue;

}
.c3:hover{
    background-color: white;
}